<!-- create new user form -->

{{ define "form" }}
<section class="my-4 space-y-4">
    <form hx-post="/api/collection" class="flex flex-col space-y-4" hx-target="#msg" hx-swap="innerHTML">
        <input name="username" required type="text" placeholder="username"
            class="input input-bordered w-full max-w-xs" />
        <input name="email" required type="text" placeholder="email" class="input input-bordered w-full max-w-xs" />
        <input name="password" required type="password" placeholder="password"
            class="input input-bordered w-full max-w-xs" />
        <button class="btn btn-outline max-w-xs">Submit</button>
    </form>
</section>


<span id="ap"></span>
{{ end }}
